.title {
    position: fixed;
    top: 10vh;
    left: 7vw;
    font-size: 2.5vh;
    font-weight: bold;
}

.form {
    position: fixed;
    top: 25vh;
    left: 50%;
    transform: translate(-50%);
    font-size: 2vh;
}

.passwordForm {
    position: fixed;
    top: 70vh;
    left: 50%;
    transform: translate(-50%);
    font-size: 3vh;
}

.loginBottom {
    position: fixed;
    top: 93vh;
    left: 71vw;
    font-size: 2vh;
    display: flex;
    align-items: center;
    color: black;
}

.findPassword {
    width: 80vw;
    height: auto;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 2vh 4vw 2vh 4vw;
    font-size: 2vh;
    background-color: rgb(128, 128, 128, 0.5);
}

.findPasswordText {
    margin: 1vh 0;
}